<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="/var/logs/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="${basedir}/logs" />
  <variable name="logArchivesDirectory" value="${basedir}/logs/archives" />
  <targets>
    
    <target name="console" xsi:type="Console">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="env" layout="${gdc:env}" />
        <attribute name="level" layout="${level:lowerCase=true}"/>
        <attribute name="log" layout="${longdate}|${logger}|${message}${onexception:inner=${event-properties:item=ErrorMessage}|${aspnet-request-ip}|${aspnet-request-useragent}${newline}${exception:format=toString}}" />
        <attribute name="requestId" layout="${activityid}" />
      </layout>
    </target>

    <target name="logFile" xsi:type="File"
            fileName="${logDirectory}/${level}.log"
            concurrentWrites="false"
            encoding="utf-8"
            maxArchiveFiles="24"
            archiveFileName="${logArchivesDirectory}/${shortdate}.{#######}.${level}.log"
            archiveNumbering="Sequence"
            archiveAboveSize="5242880"
            archiveEvery="Hour"
            layout="${longdate}|${logger}|${uppercase:${level}}|${activityid}|${message}${onexception:inner=${event-properties:item=ErrorMessage}|${aspnet-request-ip}|${aspnet-request-useragent}${newline}${exception:format=toString}${newline}}" />

    <target xsi:type="Null" name="blackhole" />

  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="logFile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>

</nlog>
