<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.lement.pro" value="https://nuget.lement.pro/api/odata" />
  </packageSources>
  <add key="disableSourceControlIntegration" value="true" />
  <apikeys>
    <add key="https://nuget.lement.pro/api/odata" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAA7Qba5VSXikyW7AfNT6crkQAAAAACAAAAAAAQZgAAAAEAACAAAAA+Uto0BXgRG7q8zxSigqE4r5JFjc6PosQ/fP+nXuLESgAAAAAOgAAAAAIAACAAAAB18vysoQGULSmrbIngXnfHoZYTpPLoXo4tmcfGf6ecgzAAAAAQ09lf2dJwuiOmKNZhisx0JoKqDHMSzQx10m0k8MaW0zamrK0hoSJHp+8V+UkrAWFAAAAABaTbClXRlojdV37zNhi7VFoVt1U3zWmq0mgSzvNButBH0s8F4/5HbfGJXU2B1AH13CLHTZEbMcxviDAi4B/rrg==" />
  </apikeys>
</configuration>